*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}


.maindiv{
    height: 100vh;
    width: 100vw;
    max-width: 1500px;
}

:root{
    --purple: rgb(195, 161, 255);
    --darkpurple: rgb(46, 0, 131);
    --lightblue: rgb(240, 252, 255);
    --gray: rgb(247, 247, 247);
    --mediumgray: rgba(102, 102, 153,0.3);
    --darkgray: rgba(102, 102, 153,1);
    --white: white;
}


