*, *::before, *::after{
    box-sizing: border-box;  
    
}

body{
    margin: 0;
}

.maindiv{
    height: 100vh;
    max-width: 1500px;
    position: relative;
}


.info{
    width: 95%;
    margin: 0 auto;
}

#aboutdiv, #projectsdiv{
    min-height: 100vh;
    display: flex;
    
}

#aboutdiv{
    flex-direction: column;
    justify-content: center;
}

.info, .info-grid, .main-cont, .badge{
    border-radius: 15px;
}



