.main-cont{
    background-color: rgb(185, 185, 185);
    aspect-ratio: 1;
    display: grid;
    grid-template-rows: 1fr auto;
}

.thumbnail-link:hover .smloverlay{
    opacity: 1;
    background-color: rgb(221, 221, 221);
    padding: 0 20px;
    border-radius: 10px;
}

.showdetails{
    width: 100%;
    border-bottom: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    font-size: 1.25em;
    padding: 15px 0;
}

.button-cont:hover {
    background-color: rgb(89, 89, 89);
    border-radius: 0 0 10px 10px;
}

.button-cont:hover > .showdetails{
    color: white;
}

.thumbnail-link, .button-cont{
    text-align: center;
}

.thumbnail-link{
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
}

.smloverlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

