:root{
  --lightergreen: hsl(150, 90%, 75%);
  --lightgreen: rgb(73, 73, 123);
  --darkgreen: hsl(150, 80%, 20%);
  --darkergreen: hsl(150, 30%, 10%);
  --darklink: black;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}

.navbargrid a{
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px 5px;
  font-weight: bold;
}

.navbargrid a:hover{
  background-color: var(--darkgreen);
  color: white;
}


