.fa-icons{
    position: fixed;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.fa-icons a{
    background-color: rgb(126, 30, 216);
    padding: 15px;
    margin-bottom: 5px;
}

.fa-icons a:hover{
    background-color: rgb(59, 129, 200);
}