.D-navbar{
    background-color: rgb(78, 30, 123);
    z-index: 4;
    position: fixed;
    left: 0;
    right: 0;
}

.D-navbargrid{
  float: right;
}

.D-navbargrid a{
  display: inline-block;
  padding: 15px 10px;
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.D-navbargrid a:hover{
  background-color: rgb(221, 185, 255);
  color: rgb(60, 25, 93);
}

