.D-navbar{
    z-index: 4;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.D-navbargrid a, .desktop-icons a{
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
}


