
::-webkit-scrollbar{
    background: rgb(111, 111, 152);
    width: 10px;
    border-radius: 10px;
}

.overlay{
    background-color: rgba(128, 128, 128, 0.507);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.hidediv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 1/ span 2;
}

.hidedetails{
    background-color: rgba(102, 102, 153);
    border: none;
    color: rgb(229, 229, 255);
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
    border-radius: 50%;
}

.hidedetails:hover{
    background-color:rgb(189, 251, 226);
    color:rgb(111, 111, 152);
}


.fullinfo{
    background-color: rgb(153, 153, 181);
    padding: 2em;
}

.fullproject-name{
    color: white;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.half{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    width: auto;
}
.half img{
    display: inline-block;
    width: 100%;
    height: 100%; 
}

.description{
    padding: 15px;
    text-align: justify;
    overflow-y: scroll;
    display: inline;
    color: rgb(229, 229, 255);
    font-size: 1em;
}

.link{
    display: block;
    background-color:rgb(111, 111, 152);
    border-radius: 10px;
    color: rgb(229, 229, 255);
    padding: 10px 25px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
}

.link:hover{
    background-color:rgb(189, 251, 226);
    color:rgb(111, 111, 152);
}

.language{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
}

@media screen and (max-width: 725px){
    .fullinfo{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 500px;
    }

    .fullinfo > * {
        margin: 1em 0 1em;
    }

    .description{
        height: 175px;
    }

    .half img{
        min-height: 350px;
    }

}

@media screen and (min-width: 726px){

    .description{
        height: 250px;
    }

    .fullinfo{
        display: grid;
        grid-column-gap: 3em;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        max-width: 900px;
    }

}