

.info h3{
    font-size: 2.5em;
    padding: 10px;
}

#services .info-grid{
    min-height: 100px;
}

.info-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    align-items: center;
    gap: 2em;
    background-color: rgba(128, 128, 128, 0.42);
    padding: 20px;
    
}

.badge{
    background-color: gray;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

